/* Variáveis */
:root {
    --primary-color: white;
    --accent-color: #6366F1;
}

/* Regras globais */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-color);
}

body button,
.login-btn {
    background-color: var(--accent-color) !important;
}

body a {
    color: var(--accent-color);
}

body a:hover {
    text-decoration: underline;
}

body h3 {
    font-weight: 900;
    text-align: center;
}

body .submit-btn {
    display: flex;
    margin: 0 auto 0 auto;
}

body button {
    font-size: larger !important;
}

.login-btn:hover {
    text-decoration: none;
}

body nav {
    background: transparent;
    box-shadow: none;
}

body nav li a {
    color: var(--accent-color);
}

body nav li a:hover {
    background: transparent;
}

body footer {
    background: none !important;
    text-align: center;
    color: black;
}

body footer ul {
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin-top: 4em;
}

body footer ul li a {
    color: black;
}


body footer .fc {
    margin-top: 4em;
    background-color: var(--accent-color) !important;
    color: var(--primary-color) !important;
}

body main {
    min-height: 100vh;
}