{% extends 'base.html' %}

<title>{% block title %}Buscando serviço de {{ query_check }} {% endblock title %}</title>

{% block content %}
<h3>Resultado da pesquisa: </h3>

{% if servicos %}
<div style="margin-top: 4em; display: flex; justify-content: center; align-items: center;">

    <div style="text-align: center;" class="container row">

        {% for servico in servicos %}
        <ul class="card-panel indigo lighten-5">
            <a id="ancora-servicos" href="{% url 'servicosapp:detalhes_servicos' servico.id_servico %}">
                <h5 style="font-weight: bolder;">{{ servico }}</h5>
            </a>
            <li>Email para contato: {{ servico.email }}</li>
            <li>Preço: R${{ servico.preco }}.00</li>
            <br />
            <span
                style="opacity: 80%; background-color: #192a8d; border-radius: 2em; padding: 7px; font-size: smaller; font-weight: bold; border: solid 2px #758aff; color: #758aff; margin-left: auto; margin-right: auto; max-width: fit-content;">Localizado
                em: {{ servico.fk_estado }}</span>
        </ul>

        {% endfor %}
    </div>
</div>

{% else %}
{% endif %}

{% if estados %}
<div style="margin-top: 4em; display: flex; justify-content: center; align-items: center;">

    <div style="text-align: center;" class="container row">

        {% for estado in estados %}
        <ul class="card-panel indigo lighten-5">
            <a id="ancora-servicos" href="{% url 'servicosapp:detalhes_servicos' estado.id_servico %}">
                <h5 style="font-weight: bolder;">{{ estado }}</h5>
            </a>
            <li>Email para contato: {{ estado.email }}</li>
            <li>Preço: R${{ estado.preco }}.00</li>
            <br />
            <span
                style="opacity: 80%; background-color: #192a8d; border-radius: 2em; padding: 7px; font-size: smaller; font-weight: bold; border: solid 2px #758aff; color: #758aff; margin-left: auto; margin-right: auto; max-width: fit-content;">Localizado
                em: {{ estado.fk_estado }}</span>
        </ul>

        {% endfor %}
    </div>
</div>

{% else %}
{% endif %}

{% endblock content %}