{% extends "base.html" %}

<title>{% block title %} Cadastre um serviço {% endblock title %}</title>

{% block content %}
<h3>Cadastre seu serviço</h3>
<form id="dfd" class="container" action="{% url 'servicosapp:criar_servicos' %}" method="post">
    {% csrf_token %}

    {{ form }}

    <!-- Select de categorias -->
    <label for="categoria">Escolha uma categoria para seu serviço:</label>
    <input required list="categorias" name="categoria" id="categoria">

    <datalist id="categorias">
        {% for categoria in categorias %}
        <option value="{{ categoria }}">
        {% endfor %}
    </datalist>

    <!-- Select de estados -->
    <label for="estado">Em qual estado você presta esse serviço?</label>
    <input required list="estados" name="estado" id="estado">

    <datalist id="estados">
        {% for estado in estados %}
            <option value="{{ estado }}">
        {% endfor %}
    </datalist>

    <button style="margin-top: 3em;" class="waves-effect waves-light btn-large submit-btn" type="submit"
        value="Enviar">Enviar</button>
</form>

{% endblock content %}