{% extends "base.html" %}

{% block content %}
<h3>Cadastrar</h3>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form style="margin-left: auto; margin-right: auto; margin-top: 6em;" class="container card-panel" method="post" action="{% url 'servicosapp:cadastrar_usuario' %}">
    {% csrf_token %}
    <table>
        <tr>
            <input minlength="6" required name="usuario" id="usuario" placeholder="Nome de usuário">{{ form.username.label_tag }}</input>
            <label>{{ form.username }}</label>
        </tr>
        <tr>
            <input minlength="8" required name="senha" id="senha" placeholder="Senha">{{ form.password.label_tag }}</input>
            <label for="senha">{{ form.password }}</label>
        </tr>
    </table>

    <button style="margin-top: 1em;" class="waves-effect waves-light btn-large submit-btn" type="submit">Cadastrar</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you set up the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

{% endblock %}