{% extends 'base.html' %}

{% block content %}
<h3>Meus serviços</h3>

<a style="background-color: var(--accent-color); max-width: max-content; text-decoration: none; display: block; margin-left: auto; margin-right: auto;" class="link-btn waves-effect waves-light btn-large" href="{% url 'servicosapp:criar_servicos' %}">Criar serviço</a>

<div class="card-panel" style="margin-top: 4em; display: flex; justify-content: center; align-items: center;">
    {% if meus_servicos %}
    <ul>
        {% for meu_servico in meus_servicos %}
        <a id="ancora-servicos" href="{% url 'servicosapp:detalhes_servicos' meu_servico.id_servico %}">

            <h5>{{ meu_servico }}</h5>
            <li>Email para contato: {{ meu_servico.email }}</li>
            <li>Preço: R${{ meu_servico.preco }}.00</li>
            <li><small>Publicado em: {{ meu_servico.data_pub }}</small></li>
        </a>

        <a href="/servicosapp/servicos/{{ meu_servico.id_servico }}/editar/">Editar</a>
        |
        <a id="excluir-btn" href="/servicosapp/servicos/{{ meu_servico.id_servico }}/excluir/">Excluir</a>

        {% endfor %}
    </ul>

</div>

{% else %}
<p style="text-align: center; margin-top: 4em;">Não há serviços cadastrados!</p>
{% endif %}

{% endblock content %}