{% extends "base.html" %}

{% block content %}
<h3>Serviços</h3>

{% include "searchbar.html" %}

<!-- Demo styles -->
<style>
    .swiper {
        margin-top: 3em;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: snow;
        min-width: fit-content;
    }

    .swiper-pagination-bullet-active {
        background-color: snow !important;
    }
</style>

<!-- Swiper -->
<br />
<br />
<br />
<br />
<br />
<br />

<!-- Lista de publicados recentemente -->
<h5 style="text-align: center; font-weight: 900;">Publicados recentemente</h5>

<div class="swiper mySwiper card-panel" style="background-color: var(--accent-color);">
    <div class="swiper-wrapper">
        {% for servico in servicos %}
        <div class="swiper-slide card-panel">
            <div class="row">
                <div class="col">
                    <div>
                        <ul>
                            <a href="{% url 'servicosapp:detalhes_servicos' servico.id_servico %}">
                                <h5>{{ servico }}</h5>
                            </a>
                            <li>Email para contato: {{ servico.email }}</li>
                            <li>Preço: R${{ servico.preco }}.00</li>
                            <li>Publicado: {{ servico.data_pub }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>

<br />
<br />
<br />
<br />

<!-- Lista de publicados aleatoriamente -->
<h5 style="text-align: center; font-weight: 900;">Outros serviços</h5>

<div class="swiper mySwiper card-panel" style="background-color: var(--accent-color);">
    <div class="swiper-wrapper">
        {% for servico in servicos_aleatorios %}
        <div class="swiper-slide card-panel">
            <div class="row">
                <div class="col">
                    <div>
                        <ul>
                            <a href="{% url 'servicosapp:detalhes_servicos' servico.id_servico %}">
                                <h5>{{ servico }}</h5>
                            </a>
                            <li>Email para contato: {{ servico.email }}</li>
                            <li>Preço: R${{ servico.preco }}.00</li>
                            <li>Publicado: {{ servico.data_pub }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>

{% endblock content %}